@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_variables";

body {
    background: #a6a2a3;
}

table {
    @extend .table;
}

td {
    @extend .align-middle;
}

footer {
    @extend .mt-4;
}

.table-vsm td, .table-vsm th {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.table-noborder td {
    border-top: 0;
}

.team--name {
    white-space: nowrap;
    > i.teammatches {
        cursor: pointer;
    }
    > span {
        cursor: pointer;
    }
    &--hover {
        > span {
            font-weight: bold;
        }
    }
}

.groupmatches {
    @extend .row;
    @extend .mb-4;
    @extend .justify-content-around;
    & .card--group {
        @extend .mb-4;
        table {
            @extend .table-vsm;
        }
        button {
            @extend .p-2;
            @extend .close;
            @extend .btn-block;
            font-size: 0.9rem;
        }
    }
}

.knockoutmatches {
    @extend .row;
    @extend .justify-content-around;
    @extend .align-items-center;
    & .card {
        min-width: 40rem;
        @extend .mb-4;
        @include media-breakpoint-down(md) {
            min-width: 100%;
        }
        &--round_12 {
            @extend .text-white;
            @extend .bg-primary;
        }
    }
}

.card--round_2 {
    @extend .text-white;
    @extend .bg-primary;
    & > .card-header {
        @extend .text-white;
        @extend .bg-primary;
    }
}

.card--round_2_loser {
    @extend .text-white;
    @extend .bg-info;
    & > .card-header {
        @extend .text-white;
        @extend .bg-info;
    }
}

.table-groupmatches,
.table-knockoutmatches {
    &--result {
        margin: 5px;
        width: 2rem;
        text-align: center;
        border-radius: 0;
        @extend .form-control;
        @extend .form-control-sm;
    }
    &--spacer {
        cursor: help;
    }
    &--label {
        margin-bottom: 0;
    }
    &--finished {
        background-color: $gray-400;
    }
    &--winner {
        background-color: $success;
    }
    &--loser {
        background-color: $danger;
    }
    &--draw {
        background-color: $info;
    }
    &--hometeam {
        white-space: nowrap;
    }
    &--awayteam {
        white-space: nowrap;
    }
}
.table-groupmatches {
    i.teammatches {display: none;}
}

.card {
    & > table {
        margin-bottom: 0;
    }
    &-footer table {
        margin-bottom: 0;
    }
}

.close {
    cursor: pointer;
    &--close span {
        transform: rotate(0deg);
        transition: all 0.5s;
        display: inline-block;
    }
    &--plus span {
        transform: rotate(-45deg);
        transition: all 0.5s;
        display: inline-block;
    }
    &:focus {
        outline: none;
    }
}

#teammatchesModal {
    & .teammatches {
        display: none;
    }
}
