$flag-icon-css-path: '/flags';
$fa-font-path: '/fonts';

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_variables";
@import "~font-awesome/scss/font-awesome.scss";

body {
    background: #a6a2a3;
}

table {
    @extend .table;
}

td {
    @extend .align-middle;
}

footer {
    @extend .mt-4;
}

.table-vsm td, .table-vsm th {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.table-noborder td {
    border-top: 0;
}

.team--name {
    white-space: nowrap;
    > i.teammatches {
        cursor: pointer;
    }
    > span {
        cursor: pointer;
    }
    &.team--name--hover {
        letter-spacing: -0.4px;
        font-weight: bold;
    }
}

.groups {
    @extend .row;
    @extend .mb-4;
    @extend .justify-content-around;
    &>.col {
        flex-basis: 25%;
    }
    & .card--group {
        @extend .mb-4;
        table {
            @extend .table-vsm;
        }
        button {
            @extend .p-2;
            @extend .close;
            @extend .btn-block;
            font-size: 0.9rem;
        }
    }
    &:nth-child(4) {
        @include clearfix();
    }
}

.knockouts {
    @extend .row;
    @extend .justify-content-around;
    @extend .align-items-center;
    & .card {
        min-width: 40rem;
        @extend .mb-4;
        @include media-breakpoint-down(md) {
            min-width: 100%;
        }
    }
}

.card--round_2 {
    @extend .text-white;
    @extend .bg-success;
    & > .card-header {
        @extend .text-white;
        @extend .bg-success;
    }
}

.card--round_2_loser {
    @extend .text-dark;
    @extend .bg-warning;
    & > .card-header {
        @extend .text-dark;
        @extend .bg-warning;
    }
}

.table-groups,
.table-knockouts {
    &--result {
        margin: 5px;
        width: 2rem;
        text-align: center;
        border-radius: 0;
        @extend .form-control;
        @extend .form-control-sm;
    }
    &--spacer {
        cursor: help;
    }
    &--label {
        margin-bottom: 0;
    }
    &--finished {
    }
    &--winner {
        background-color: #c3e6cb;
    }
    &--loser {
        background-color: #ff626d;
    }
    &--draw {
        background-color: #bee5eb;
    }
    &--hometeam {
        white-space: nowrap;
    }
    &--awayteam {
        white-space: nowrap;
    }
}

.table-groups {
    i.teammatches {display: none;}
}

.card {
    & > table {
        margin-bottom: 0;
    }
    &-footer table {
        margin-bottom: 0;
    }
}

.close {
    cursor: pointer;
    &--close span {
        transform: rotate(0deg);
        transition: all 0.5s;
        display: inline-block;
    }
    &--plus span {
        transform: rotate(-45deg);
        transition: all 0.5s;
        display: inline-block;
    }
    &:focus {
        outline: none;
    }
}

#teammatchesModal {
    & .teammatches {
        display: none;
    }
}

.gold {
    color: #FFD700;
}

.bronze {
    color: #cd7f32;
}

tbody.tbody {
    &--close {
        display: none;
    }

    &--open {
        display: table-row-group;
    }
}
